.profile__input-container {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 16px;
    border-bottom: 1px #424242 solid;
    align-items: center;
}

.profile__input-container:first-child {
    padding-top: 0;
}

.profile__input-container:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.profile__input {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    color: #FFF;
    text-align: right;
    font-size: 11px;
    font-weight: 400;
}

.profile__input:focus {
    border: 1px solid #4285F4;
    border-radius: 5px;
}

.profile__input::placeholder {
    color: #FFF;
}

.profile__input-title {
    font-size: 11px;
    font-weight: 500;
}