.nav-popup {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: ease .3s;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - (10px * 2));
    height: 100%;
    background-color: #202020;
    justify-content: center;
    align-items: center;
    padding: 144px 10px 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.nav-popup_active {
    opacity: 1;
    visibility: visible;
}

.nav-popup__container {
    display: flex;
    background-color: #202020;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 0;
    min-width: 100%;
    height: 100%;
}

.nav-popup__close-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 22px;
    height: 22px;
    padding: 0;
    position: fixed;
    top: 13px;
    right: 13px;
    background-image: url(../../../images/close-button.svg);
    background-size: 22px;
    background-repeat: no-repeat;
}

@media screen and (min-width: 600px) {
    .nav-popup {
        background-color: rgba(0, 0, 0, .5);
        padding: 0;
        justify-content: flex-end;
        width: 100%;
    }

    .nav-popup__container {
        min-width: 520px;
        padding: 159px 90px 0;
        box-sizing: border-box;
    }

    .nav-popup__close-button {
        top: 22px;
        right: 22px;
    }
}

@media screen and (min-width: 1280px) {
    .nav-popup_active {
        opacity: 0;
        visibility: hidden;
    }
}