.auth__link-container {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    gap: 7px;
}

.auth__link-span {
    color: #8B8B8B;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.auth__link {
    text-decoration: none;
    color: #4285F4;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 768px) {
    .auth__link-container {
        margin-top: 16px;
        gap: 6px;
    }

    .auth__link-span {
        font-size: 14px;
    }

    .auth__link {
        font-size: 14px;
    }
}