.auth__button {
    cursor: pointer;
    border: none;
    background-color: #4285F4;
    border-radius: 3px;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    padding: 15px 0;
    margin-top: auto;
}

.auth__button:disabled {
    background-color: #F8F8F8;
    color: #C2C2C2;
}

@media screen and (min-width: 768px) {
    .auth__button {
        font-size: 14px;
    }
}