.about-project__title {
    border-bottom: 1px #DADADA solid;
}

.about-project__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 60px 0 60px;
    margin: 0;
    row-gap: 56px;
}

.about-project__subtitle {
    margin: 0;
    margin-bottom: 16px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
}

.about-project__caption {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.about-project__timescale {
    display: flex;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 70px;
}

.about-project__timescale-item:first-child {
    flex-grow: 1;
    max-width: 100px;
}

.about-project__timescale-item {
    flex-grow: 2;
}

.about-project__timescale-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 35px;
}

.about-project__timescale-block_color_green {
    background-color: #3DDC84;
    color: black;
}

.about-project__timescale-block_color_gray {
    background-color: #303030;
}

.about-project__timescale-caption {
    text-align: center;
    color: #A0A0A0;
    padding-top: 10px;
}