.page-404 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-404__text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-404__title {
    font-size: 80px;
    font-weight: 400;
    margin: 0;
}

.page-404__caption {
    margin: 10px 0 0;
    font-size: 12px;
    font-weight: 400;
}

.page-404__link {
    text-decoration: none;
    color: #4285F4;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .page-404__title {
        font-size: 140px;
    }

    .page-404__caption {
        margin-top: 5px;
        font-size: 16px;
    }

    .page-404__link {
        font-size: 14px;
        padding-bottom: 222px;
    }
}

@media screen and (min-width: 1280px) {
    .page-404__link {
        padding-bottom: 60px;
    }
}