.navigation__links-item {
    display: flex;
    align-items: center;
}

.navigation__link {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.navigation__link_type_auth {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.navigation__links-list_type_popup li:not(:last-child) a {
    font-size: 18px;
    display: block;
    padding-bottom: 7px;
}

.navigation__links-list_type_popup li:not(:last-child) a:hover {
    border-bottom: 2px white solid;
}

.navigation__link_type_button {
    background-color: #3DDC84;
    border: none;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 3px;
    color: black;
}

.navigation__links-item_type_profile {
    margin-left: auto;
}

.navigation__links-item_type_popup {
    position: fixed;
    bottom: 46px;
}

.navigation__profile-logo {
    height: 26px;
    width: 26px;
    background-image: url(../../../../images/profile-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #313131;
    border-radius: 50px;
    margin-left: 7px;
}

.navigation__profile-logo_type_main {
    background-color: #0F4157;
}

@media screen and (min-width: 600px) {
    .navigation__links-list_type_popup li:not(:last-child) a {
        padding-bottom: 4px;
    }

    .navigation__links-item_type_popup {
        bottom: 90px;
    }
}