.movies__cardlist {
    list-style: none;
    margin: 0;
    padding: 40px 0 26px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 14px;
}

@media screen and (min-width: 640px) {
    .movies__cardlist {
        gap: 30px;
    }
}

@media screen and (min-width: 1100px) {
    .movies__cardlist {
        gap: 24px;
        padding: 70px 0 107px;
    }
}