@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts.css);

.page {
    color: white;
    background-color: #202020;
    font-family: 'Inter', 'Arial', sans-serif;
    min-height: 100vh;
}