@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts.css);

.page {
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    min-height: 100vh;
}

.page__element {
    padding: 0 18px 0;
}