.movies-card {
    background-color: #222;
    border-radius: 6px;
    /* box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08); */
    min-height: 237px;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
}

.movies-card__image {
    max-width: 100%;
    aspect-ratio: 16 / 9;
    object-position: center;
    object-fit: cover;
    display: block;
    min-height: 168px;
    margin: auto;
}

.movies-card__name-container {
    display: flex;
    padding: 16px 10px 5px 14px;
    justify-content: space-between;
    align-items: center;
}

.movies-card__name {
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.movies-card__duration {
    margin: 0;
    color: #8B8B8B;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 0 20px 14px;
}

@media screen and (min-width: 768px) {
    .movies-card__image{
        min-height: 190px;
    }
}

@media screen and (min-width: 1280px) {
    .movies-card__image{
        min-height: 203px;
    }
}