.search-form__checkbox-field {
    display: flex;
    justify-content: center;
    margin-top: 42px;
}

.search-form__default-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
}

.search-form__custom-checkbox {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 36px;
    border-radius: 20px;
    background-color: #EBEBEB;
    cursor: pointer;
}

.search-form__default-checkbox:checked+.search-form__custom-checkbox {
    background-color: #3DDC84;
}

.search-form__custom-checkbox::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    height: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #F5F5F5;
    transition: left 0.3s ease;
}

.search-form__default-checkbox:checked+.search-form__custom-checkbox::after {
    left: 18px;
    background-color: white;
}

.search-form__checkbox-title {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    margin-left: 13px;
}

@media screen and (min-width: 640px) {
    .search-form__checkbox-title {
        font-size: 14px;
    }
}