.promo {
    background-color: #073042;
    background-image: url(../../../images/promo-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 248px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 570px;
}

.promo__title {
    margin: 0;
    text-align: center;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -1.24px;
}

@media screen and (min-width: 768px) {
    .promo {
        background-size: 320px auto;
        min-height: 784px;
    }

    .promo__title {
        font-size: 50px;
        line-height: 58px;
        letter-spacing: -2px;
        min-width: 116px;
    }
}

@media screen and (min-width: 1280px) {
    .promo__title {
        max-width: 730px;
    }
}