.article-title {
    margin: 0;
    padding: 70px 0 28px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
}

.article-element {
    background-color: #202020;
}