.auth__input-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth__input-span {
    color: #8B8B8B;
    font-size: 10px;
    font-weight: 400;
}

.auth__input {
    width: 100%;
    background-color: #2F2F2F;
    border: none;
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
    color: white;
    font-size: 13px;
    font-weight: 500;
    outline: none;
}

.auth__input:focus {
    border: 1px solid #4285F4;
}

.auth__input_type_error {
    color: #EE3465;
}

.auth__input-error {
    display: block;
    color: #EE3465;
    font-size: 10px;
    font-weight: 400;
    margin-top: 10px;
    height: 10px;
}